body{
    width: 1200px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgba(0, 225, 255, 0.5);
    height: auto;
    
}

.container-menu{
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}

.container-logo{
    width: 100%;
    height: inherit;
    background-color: rgb(75, 75, 75);
    text-align: center;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
    color: rgba(0, 255, 255, 0.85);
}

.container-imagen{
    background-image: url('./header_image.jpg');
    height: 240px;
}

.nav-list{
    padding: 0 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
    margin: 10px auto;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: black;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.footer{
    height: 237px;
    background-color: rgba(0, 225, 255, 0.5);
    margin-top: 0px;
}

.section-text{
    margin: 0;
    color: black;
    background:  lightskyblue;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}

.col-2{
    width: 587px;
    height: 185px;
    background-color: rgb(75, 75, 75);
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.footer-content{
    color: white;
}

.noticias{
    height: 500px;
    
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: 0px;

}

.noticia{
    display: flex;
    height: 250px;
    text-align:justify;
    margin-bottom: 20px;

}

.titulo-noticias{
    height: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    margin: 0;
    color: #111010;
    background: white;
    font-weight: bold;
    text-align: center;

}

.texto-noticia{
    width: 380px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.titulo{
    background-color: #312f2f;
    height: 60px;
    width: 1200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #19910c;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-1{
    height: 570px;
    width: 1200px;
    background-color: rgb(132, 132, 141);
    margin-top: 0px;
}

.column{
    height: 500px;
    margin-top: 5px;
    background-color: rgb(20, 25, 90);
    width: 33.08%; 
    display: inline-block;
}

.logo{
    width:296.95px;
    height:125px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.h1{
    text-align: center;
    color: #19910c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    height: 200px;
}

.link{
    text-align: justify;
    color: #19910c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
}

.titulo-equipo{
    background-color: rgb(34, 170, 29);
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p-equipo{
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.miembros__individuo{
     
    background-color: rgb(216, 222, 224);
    margin-top: 10px;
    width: 1200px;
    margin-bottom: 0px;
}

.miembros__individuo--descripcion{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.miembros_individuo--nombre{
    font-size: 25px;
    text-align: center;
    
}
