body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: #888888;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

body{
    width: 1200px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;


}

.noticias{
    height: 500px;
    
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    text-align: left;

}

.noticia{
    display: flex;
    height: 250px;
    text-align:justify;
    margin-bottom: 20px;

}

.titulo-noticias{
    height: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    margin: 0;
    color: #111010;
    background: white;
    font-weight: bold;
    text-align: center;

}

.texto-noticia{
    width: 380px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}